body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif; 
}
.header{
    
    width: 100%;
    height: 990px;
    margin: 0;
}
.nav{ 
    display: flex;
    height: 46px;
    width: 100%;
     background-color: #DADADA;
    margin: 0;
    align-items: center;
    justify-content: center;
    a{
        text-decoration: none;
        
    }
    ul{
        display: flex;
        margin: 0;
        li{
            margin:0 49px;
            list-style-type: none;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
           line-height: 21px;
            color: black;
        }
    }
}
.header-contacts{
    background-image: url(/img/Rectangle%20.png);
    width: 100%;
    height: 960px;
    
    
}
.contancts{
    
}
.contancts_container{
    margin: auto;
    display:flex;
    width: 1200px;
    height: 160px; 
    justify-content:space-between;
    justify-items:center;
    a{
        display: flex;
        text-decoration-color: #fff;
    }
    img{
        margin: 11px 22px 0 256px;
    }
    li{ 
        margin: 14px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-decoration-line: underline;
        
        
        list-style-type: none;
        color: #fff;
    }
    .conts{
        margin-top: 20px;
    }
}
.number{
    display:block;
    li{ 
        text-align: end;
        margin: 0;
        text-decoration: none;
        
    }
    a{  float: right;
       font-weight: normal;
       font-size: 30px;
       line-height: 35px;
        text-align: right;
        text-decoration:none;
        color:#fff;
    }
    .one{
      margin-top: 30px;
font-size: 16px;
line-height: 19px;
margin-bottom: 12px;  
    }
    .tue{
         font-style: italic;
         font-weight: 300;
          font-size: 14px;
         line-height: 16px
    }
}

.menu{
    height: 55px;
    background-color: rgba(0, 0, 0, 0.3);
    ul{
        display: flex;
        justify-content: center;
        
        li{
            margin: 14px 50px;
            list-style-type: none;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
 
            a{
                text-decoration: none;
                color: #fff;
            }
        }
    }
}
.windows{
    margin:95px auto 0 auto;
    width: 1694px;
    height: 634px;
    text-align: center;
    
    .logo{
        margin-bottom: 139px;
        h1{
          font-weight: bold;
          font-size: 60px;
          line-height: 60px;
          text-align: center;
          color: #FFF;
            b{
                font-weight: bold;
                font-size: 32px;
               
            }
                   
        }
    }
}

.options{
    display: flex;
    justify-content: center;
    ul{
        margin: 22px;
    }
    a{
        text-decoration: none;
    }
    li{
        list-style-type: none;
        color: #fff;
        text-align:center;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
    }
}
.btn_content{
    margin-top:30px;
    height: 156px;
    .btn{
        display: flex;
        height: 78px;
        width: 344px;
        margin: 23px auto;
        background-color: #DCC96C;
        justify-content: center;
        align-items: center;
        a{
            text-decoration: none;
            
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            text-align: center;

            color: #000000;
        }
    }
}
.circle{
    margin-top: 70px;
}
.dot {
  height: 10px;
  width: 18px;
  background-color: #fff;
  border-radius: 30%;
  display: inline-block;
    margin: 12px;
}
.tod{
    background-color: #DCC96C;
}
.sub_header{
    height: 1194px;
    width: 100%;
    
}
.container_short{
    margin-top: 100px;
    margin: 100px auto 0 auto;
    height: 452px;
    width: 1300px;
    text-align: center;
    h2{
         font-style: normal;
         font-weight: bold;
         font-size: 60px;
         line-height: 70px;
         text-align: center;

         color: #000000;
    }
}
.icons{
    display: grid;
    grid-template-columns: auto  auto auto;
    .no_margin{
    margin-left: 0;
}
    div{ 
        
        width: 354px;
        height: 145px;
        border: 1px solid #E5E5E5;
        margin-left: 133px;
        margin-bottom: 30px;
        
        img{
            margin-top: 6px;
            display: block;
            margin-left: 42px;
        }
        p{  text-align: start;
            margin-left: 42px;
            margin-top: 15px;
            float: left;
            font-family: Roboto Condensed;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
        
            strong{
                float: left;
                font-weight:100;
                font-size: 18px;
            }
            small{
               font-size: 18px;
                font-weight:100;
            }
        }
    }
}

.materials{
    margin-top: 100px;
    width: 100%;
    height: 542px;
    background-color: #EFF5FF;
    text-align: center;
    h3{
       padding-top:  52px;
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 70px;
        text-align: center;
    }
}

.window{
    display: flex;
    margin: 125px auto 150px auto;
    justify-content: center;
    div{ 
        position: relative;
        margin-right: 30px;
        width: 295px;
        height: 171px;
        box-shadow: 5px 5px 5px #d6d6c2; 
        
        img{
            float: right;
            font-size: 10px;
            margin-right: 19px;
            margin-top: 16px;
        }
        span{
             p{
                float: left;
                margin: 0 0 15px 0;
            }
          position: absolute;
          bottom: 26px;
          left: 25px;
            color: #fff;
            font-weight: normal;
            font-size: 24px;
            
           
            
            
            
        }
    }
}
.pine{
    background-image: url(/icons/window/Pine.png);

}

.listvenite{
    background-image: url(/icons/window/listvenite.png);
}
.oak{
    background-image: url(/icons/window/oak.png);
}
.tree{
    background-image: url(/icons/window/tree.png);
}
.meranti{
    background-image: url(/icons/window/meranti.png);
}


.main{
    width: 100%;
    text-align: center;
    h4{
        text-align: center;
        font-weight: bold;
        font-size: 60px;
        line-height: 70px;
    }
}
.main_container{
    width: 1318px;
    margin: 59px auto 0 auto;
    li{
        list-style-type: none;
    }
    
}

.wooden_windows{
    section{
        display: flex;
        ul{
            margin-top: 61px;
            margin-left: 174px;
            width: 469px;
            height: 466px;
            li{
                list-style-type: decimal;
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                margin-bottom: 20px;
            }
        }
    }
}

.optimalina{
    height: 1000px;
    text-align: center;
    li{
        text-align: center;
        list-style-type: none;
    }
    section{
        display: flex;
    }
    .thick{
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
    }
    .subtle{
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
    }
    span{
        margin-top: 88px;
        width: 100%;
        display: flex;
        justify-content:center;
    }
    a{  
        padding: 24px 31px;
        background-color: #DCC96C;
        text-decoration: none;
        color: #000;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        border-radius: 10px;
    }
}
.delails_color {
    p{
        font-weight: 300;
font-size: 36px;
line-height: 56px;
    }
    li{
        list-style-type: none;
        font-weight: 300;
          font-size: 18px;
         line-height: 21px;
    }
    section{
        display: flex;
        justify-content: center;
    }
}
.sub_main{
    background-color:  #E5E5E5;
    padding-bottom: 60px;
}

.equipment {
    
}

.equipement_content {
    display: flex;
}
.margin{
    margin-bottom: 80px;
}

.own{
    margin: 0;
    background-image: url(/img/Own/own.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 545px;
     p{
        font-weight: 300;
font-size: 30px;
line-height: 35px;
text-align: center;
    }
}
.own_content {
    display: flex;
    justify-content: center;
    height: 40%;
    align-items: flex-end;
    ul{
        width: 300px;
        height: 116px;
        border:  1px solid rgba(0, 0, 0, 0.15);
        border-radius: 20px; 
        margin-right: 65px;
        display: flex;
        align-items:flex-end;
        
    }
    span{
        margin-bottom: 23px;
    }
    li{
        list-style-type: none;
        text-align: start;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
    }
    .thick {
        font-weight: bold;
        font-size: 32px;
        line-height: 37px;
    }
}





.standart_window {
    
}







